@import "../abstracts/mixins";
@import "../abstracts/variables";

.social {
  &__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

  }

  &__item {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    border: 1px solid $accentColor;
    cursor: pointer;
    @include transition(.4);

    &:not(&:last-child) {
      margin-right: 10px;
    }

    & i {
      color: $accentColor;
    }

    & a {
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color:rgba(44,97,173,0.7);
    }
  }
}
